---
layout: default
active: dashboard
---

<div class="bg-secondary py-8">
    <div class="container d-flex align-items-center justify-content-between">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mt-0 mb-0">
                <li class="breadcrumb-item" aria-current="page">My dashboards</li>
                <li class="breadcrumb-item active" aria-current="page">Us</li>
            </ol>
        </nav>
        <button class="btn btn-outline-dark btn-icon">
            <span>Fullscreen</span>
            <svg class="icon"><use xlink:href="#icon-expand"></use></svg>
        </button>
    </div>
</div>
<div class="bg-secondary">
    <div class="container">
        <div class="mb-12">
            <div class="ratio ratio-16x9 mb-4">
                <iframe src="https://player.vimeo.com/video/561070574" title="Us" allowfullscreen></iframe>
            </div>
            <p>
                Last updated
                <strong>6 July 2021</strong>
                Expires
                <strong>1 July 2022</strong>
            </p>
        </div>
        <h3 class="mb-9">Learning Centre</h3>
        <nav class="nav d-flex">
            <a class="nav-link-secondary active" href="#"><span>Video</span></a>
            <a class="nav-link-secondary" href="#"><span>Collateral</span></a>
            <a class="nav-link-secondary" href="#"><span>Updates</span></a>
            <a class="nav-link-secondary" href="#"><span>More</span></a>
        </nav>
    </div>
</div>
<div class="container py-6 d-flex justify-content-end">{% include dropdown-sort-by.html %}</div>
<div class="container py-11">{% include dashboard-group.html items=site.data.dashboards.videos.items %}</div>

<!-- Modal -->
<div class="modal fade" id="modal-video" tabindex="-1" aria-labelledby="modal-video" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-video">
        <div class="bg-secondary ratio ratio-16x9 pe-auto">
            <iframe title="Dashboard video" allowfullscreen></iframe>
        </div>
    </div>
</div>
