---
layout: default
active: dashboards
loggedin: true
---

<div class="position-relative masthead bg-secondary">
    <div class="container">
        <h1 class="font-serif mb-6">
            Kia ora Charlie,
            <br />
            welcome back to the Portal.
        </h1>
        <p>Your data awaits. Access your dashboard products below.</p>
    </div>
</div>
<div class="container py-6 d-flex justify-content-end">{% include dropdown-sort-by.html %}</div>
<div class="container py-11">
    {% include dashboard-group.html title=site.data.dashboards.bespoke.title items=site.data.dashboards.bespoke.items %}
    {% include dashboard-group.html title=site.data.dashboards.dot.title items=site.data.dashboards.dot.items %}
</div>
