---
layout: default
---

<div class="pt-20 pl- pb-24 bg-gray-medium relative">
    <div class="container mx-auto">
        <h1 class="font-serif text-5xl leading-tight mb-8">Kia ora Charlie,<br />welcome back to the Portal</h1>
        <p>Your data awaits. Access your dashboard products below.</p>
    </div>
    <div class="container mx-auto absolute inset-x-0 bottom-0 pb-4 flex justify-between">
        <p class="text-sm"><strong>9</strong> dashboards</p>
        <div class="text-sm">Sort by: <strong>Recently viewed</strong></div>
    </div>
</div>
<div class="container mx-auto py-28">
    {% include dashboard-group.html title=site.data.dashboards.bespoke.title items=site.data.dashboards.bespoke.items %}
    {% include dashboard-group.html title=site.data.dashboards.dot.title items=site.data.dashboards.dot.items %}
</div>
