<div class="mt-9 d-flex justify-content-end">
    <ul class="list-unstyled d-flex align-items-center mb-0">
        <li>
            <button href="{{ '/' | relative_url }}dot-drop" class="btn btn-primary">
                <svg class="icon"><use xlink:href="#icon-plus"></use></svg>
                New
            </button>
        </li>
        <li class="ms-3">
            <button href="{{ '/' | relative_url }}dot-drop" class="btn btn-outline-dark">
                <svg class="icon"><use xlink:href="#icon-import"></use></svg>
                Import
            </button>
        </li>
    </ul>
</div>
