<div
    data-files-drop="#files-drop"
    class="modal fade"
    id="files-drop-import"
    tabindex="-1"
    aria-labelledby="file-drop-label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-form justify-content-center">
        <div class="bg-white position-relative pe-auto px-4 py-8 px-sm-10 py-sm-9 w-100">
            <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span></span></button>
            <form id="files-drop" method="post" enctype="multipart/form-data" autocomplete="off">
                <div id="files-drop-select">
                    <h3 class="modal-title mb-6" id="files-drop-label">Drop files</h3>
                    <div class="mb-7">
                        <div class="uploaded-files my-6">
                            <div class="fw-semibold mb-2" id="drop-file-heading"></div>
                            <ol class="drop-file-upload-list"></ol>
                        </div>
                    </div>
                    <ul class="list-unstyled d-flex align-items-center mb-0">
                        <li>
                            <label for="drop-file-upload" class="btn btn-outline-dark btn-icon" tabindex="0">
                                <input id="drop-file-upload" type="file" multiple class="d-none" />
                                <svg class="icon"><use xlink:href="#icon-search"></use></svg>
                                <span>Browse</span>
                            </label>
                        </li>
                        <li class="ms-3">
                            <button id="drop-file-submit" class="btn btn-primary" disabled>Drop</button>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
