<div
    data-files-download
    class="modal fade"
    id="files-download"
    tabindex="-1"
    aria-labelledby="file-drop-label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-form justify-content-center">
        <div class="bg-white position-relative pe-auto px-4 py-8 px-sm-10 py-sm-9 w-100">
            <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span></span></button>
            <div id="files-drop-progress" class="drop-action-dialog-container">
                <div class="dialog-folder top" data-folder-anim="down">
                    <div id="circle-4" class="dialog-folder-dot dialog-folder-dot-1 bg-teal"></div>
                    <div id="circle-3" class="dialog-folder-dot dialog-folder-dot-2 bg-yellow"></div>
                    <div id="circle-2" class="dialog-folder-dot dialog-folder-dot-3 bg-green"></div>
                    <div id="circle-1" class="dialog-folder-dot dialog-folder-dot-4 bg-blue"></div>
                    <div id="circle-8" class="dialog-folder-dot dialog-folder-dot-1 bg-teal"></div>
                    <div id="circle-7" class="dialog-folder-dot dialog-folder-dot-2 bg-yellow"></div>
                    <div id="circle-6" class="dialog-folder-dot dialog-folder-dot-3 bg-green"></div>
                    <div id="circle-5" class="dialog-folder-dot dialog-folder-dot-4 bg-blue"></div>
                    <img src="{{ '/' | relative_url }}assets/img/dot-drop/folder.svg" />
                </div>
                <div class="h3 mb-7">
                    Downloading
                    <span class="js-file-progress-percentage">0%</span>
                </div>
                <div class="progress w-100 mb-7">
                    <div
                        class="progress-bar"
                        role="progressbar"
                        aria-valuenow="0"
                        aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
                <span class="file-progress-label js-current-file">
                    <span class="file-progress-name"></span>
                    <span class="file-progress-number"></span>
                </span>
            </div>
        </div>
    </div>
</div>
