{% if include.open %}
<div id="folder-{{ include.item.id }}" class="drop-list-item" data-drop-folder="opened">
{% else %}
<a id="folder-{{ include.item.id }}" class="d-block drop-list-item" href="{{ '/' | relative_url }}dot-drop/{{ include.item.link }}" data-drop-folder="closed">
{% endif %}
    <div class="drop-list-item-header">
        <div class="drop-list-item-title">
            <svg class="icon drop-list-item-icon">
                <use
                    xlink:href="#icon-{% if include.expanded %}folder-unlocked{% else %}folder-locked{% endif %}"></use>
            </svg>
            <span class="fw-semibold">{{ include.item.title }}</span>
        </div>
        <div class="d-flex align-items-center flex-grow-0 flex-shrink-0 fs-7">
            <span class="ms-2 me-2 ms-lg4 me-lg-7">{{ include.item.status }}</span>
            <button id="drop-list-1-menu-btn" class="drop-list-item-menu-btn js-menu-btn" data-bs-toggle="dropdown">
                <span></span>
            </button>
            <div class="dropdown-menu dropdown-menu-end menu" aria-labelledby="drop-list-1-menu-btn">
                <ul class="list-unstyled mb-0" data-drop-item-menu="folder/{{ include.item.id }}">
                    <li>
                        <button class="menu-btn" data-action="info">
                            Info
                        </button>
                    </li>
                    <li>
                        <button class="menu-btn" data-action="regenerate-token">
                            Regenerate token
                        </button>
                    </li>
                    <li>
                        <button class="menu-btn" data-action="change-ownership">
                            Change ownership
                        </button>
                    </li>
                    <li>
                        <button class="menu-btn" data-action="rename">
                            Rename
                        </button>
                    </li>
                    <li>
                        <button class="menu-btn" data-action="remove">
                            Remove from list
                        </button>
                    </li>
                    <li>
                        <button class="menu-btn text-red" data-action="delete">
                            Delete
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% if include.item.files and include.open %}
    <div class="drop-list-files-container">
        <ul class="drop-list-files">
            {% for file in include.item.files %}
            <li>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="folder-{{ include.item.id }}/{{ file.id }}" />
                        <label class="form-check-label" for="folder-{{ include.item.id }}/{{ file.id }}">{{ file.name }}</label>
                    </div>
                    <div class="d-flex align-items-center fs-7">
                        <span class="ms-2 me-2 ms-lg4 me-lg-7">{{ file.date }}</span>
                        <button
                            id="drop-list-{{ file.id }}-menu-btn"
                            class="drop-list-item-menu-btn js-menu-btn"
                            data-bs-toggle="dropdown">
                            <span></span>
                        </button>
                        <div
                            class="dropdown-menu dropdown-menu-end menu"
                            aria-labelledby="drop-list-{{ file.id }}-menu-btn">
                            <ul class="list-unstyled mb-0" data-drop-item-menu="file/{{ forloop.index }}">
                                <li>
                                    <button class="menu-btn" data-action="download">
                                        Download
                                    </button>
                                </li>
                                <li>
                                    <button class="menu-btn" data-action="info">
                                        Info
                                    </button>
                                </li>
                                <li>
                                    <button class="menu-btn" data-action="rename">
                                        Rename
                                    </button>
                                </li>
                                <li>
                                    <button class="menu-btn" data-action="remove">
                                        Remove from list
                                    </button>
                                </li>
                                <li>
                                    <button class="menu-btn text-red" data-action="delete">
                                        Delete
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="hstack small gap-4" data-file-actions>
            <button class="btn btn-primary btn-icon" data-bs-toggle="modal" data-bs-target="#files-upload">
                <svg class="icon"><use xlink:href="#icon-plus"></use></svg>
                <span>Make a drop</span>
            </button>
            <div class="vr js-files-actions d-none"></div>
            <div class="hstack small gap-4 js-files-actions d-none">
                <button class="btn btn-outline-dark btn-icon" data-bs-toggle="modal" data-bs-target="#files-download">
                    <svg class="icon"><use xlink:href="#icon-download-2"></use></svg>
                    <span>Download</span>
                </button>
                <button class="btn btn-outline-dark btn-icon" data-bs-toggle="modal" data-bs-target="#files-delete">
                    <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
                    <span>Delete</span>
                </button>
            </div>
        </div>
    </div>
    {% endif %}
{% if include.open %}
</div>
{% include drop-list/files-upload.html %}
{% include drop-list/files-download.html %}
{% include drop-list/files-delete.html %}
{% else %}
</a>
{% endif %}
