<div class="position-relative bg-secondary">
    <div class="container pt-10">
        <div class="mb-12">
            <h1 class="font-serif mb-6 h1">DOT Drop</h1>
            <p>will secure your data safely once you drop your files.</p>
        </div>
        <nav class="nav d-flex">
            <a
                class="nav-link-secondary{% if include.active == 'drop-list' %} active{% endif %}"
                href="{{ '/' | relative_url }}dot-drop">
                <span>My drop list</span>
            </a>
            <a
                class="nav-link-secondary{% if include.active == 'about' %} active{% endif %}"
                href="{{ '/' | relative_url }}dot-drop/about">
                <span>About</span>
            </a>
        </nav>
    </div>
</div>
