<div>
  <div class="relative dashboard-thumb-image">
    <picture>
      <source
        media="(min-width: 1024px)"
        srcset="https://via.placeholder.com/413x232"
      />
      <img
        class="absolute max-w-full w-full h-auto rounded top-0 left-0"
        src="https://via.placeholder.com/365x205"
        alt="Dashboard"
      />
    </picture>
    <div class="absolute p-2 left-0 right-0 bottom-0 flex items-center">
      <div class="text-sm leading-none bg-yellow px-3 py-2 rounded-2xl">
        Updated
      </div>
      <div class="ml-auto">{% include star.svg %}</div>
    </div>
  </div>
  <a href="#" class="hover:underline"
    ><h4 class="text-lg leading-6 font-bold mb-1.5">
      Sky - Entertainment Dashboard
    </h4></a
  >
  <p class="text-gray-mid text-base">
    A brief description of your product can go here. Ideally no longer than 2
    lines.
  </p>
</div>
