<!-- dashboard-item start -->
<div class="dashboard-thumb">
    <div class="position-relative dashboard-thumb-image mb-7">
        <picture>
            <source media="(min-width: 1024px)" srcset="https://via.placeholder.com/413x232" />
            <img
                class="position-absolute top-0 start-0 rounded"
                src="https://via.placeholder.com/365x205"
                alt="Dashboard" />
        </picture>
        <div class="position-absolute p-3 start-0 end-0 bottom-0 d-flex align-items-center justify-content-between">
            <div class="dashboard-thumb-status">Updated</div>
            <div class="ms-auto">
                <svg class="icon dashboard-thumb-favourite"><use xlink:href="#icon-star"></use></svg>
            </div>
        </div>
    </div>
    <a href="#" class="dashboard-thumb-title">{{ include.item.title }}</a>
    <p class="text-gray-mid text-base">
        A brief description of your product can go here. Ideally no longer than 2 lines.
    </p>
</div>
<!-- dashboard-item end -->
