<!-- dashboard-item start -->
<div class="dashboard-thumb">
    <a class="dashboard-thumb-image" {% if include.item.type != 'video' %} href="{{ '/' | relative_url }}dashboard" {% endif %} {% if include.item.type == 'video' %} data-toggle-video="{{ include.item.src }}" {% endif %}>
        <div class="ratio ratio-16x9">
            <picture>
                <source media="(min-width: 1024px)" srcset="https://via.placeholder.com/416x234" />
                <source media="(min-width: 768px)" srcset="https://via.placeholder.com/336x189" />
                <img
                    class="top-0 start-0"
                    src="https://via.placeholder.com/516x290"
                    alt="Dashboard" />
            </picture>
        </div>
        {% if include.item.type != nil %}
        <div class="dasboard-thumb-actions position-absolute p-3 start-0 end-0 bottom-0 d-flex align-items-end justify-content-between">
            {% if include.item.type == 'dashboard' %}
            {% if include.item.updated %}
            <div class="dashboard-thumb-status">Updated</div>
            {% endif %}
            {% if include.item.favourite %}
            <div class="ms-auto">
                <svg class="icon dashboard-thumb-favourite"><use xlink:href="#icon-star"></use></svg>
            </div>
            {% endif %}
            {% else if include.item.type == 'video' %}
            <div class="ms-auto">
                {% if include.item.status == 'progress' %}
                <div class="dashboard-thumb-status-progress">
                    <svg height="20" width="20" viewBox="0 0 20 20">
                        <circle r="10" cx="10" cy="10" fill="#ffde00" />
                        <circle
                            r="5"
                            cx="10"
                            cy="10"
                            fill="transparent"
                            stroke="white"
                            stroke-width="10"
                            {% comment %}
                            stroke-dasharray="calc(12.5 * 31.4 / 100) 31.4"
                            {% endcomment %}
                            stroke-dasharray="3.925 31.4"
                            transform="rotate(-90) translate(-20)" />
                    </svg>
                </div>
                {% else %}
                <div class="dashboard-thumb-status-icon">
                    <svg class="icon"><use xlink:href="#icon-tick"></use></svg>
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
        {% endif %}
    </a>
    <a href="{{ '/' | relative_url }}dashboard" class="dashboard-thumb-title">{{ include.item.title }}</a>
    {% if include.item.description %}
    <p class="text-gray-mid text-base">
        {{ include.item.description }}
    </p>
    {% else %}
    <ul class="list-unstyled d-flex">
        <li><a href="#" class="btn-icon-link small"><svg class="icon"><use xlink:href="#icon-preview"></use></svg>Preview</a></li>
        <li class="ms-4"><a href="#" class="btn-icon-link small"><svg class="icon"><use xlink:href="#icon-download"></use></svg>Download</a></li>
    </ul>
    {% endif %}
</div>
<!-- dashboard-item end -->
