<footer>
    <div class="container">
        <div class="row mb-8">
            <div class="col-lg-3 mb-7 mb-lg-0">
                <a href="/">
                    <img src="assets/img/logo-dot-loves-data.png" width="96" height="auto" alt="Dot Loves Data" />
                </a>
            </div>
            <div class="col-6 col-lg mb-8 mb-lg-0">
                <h5 class="footer-heading">Contact</h5>
                <p>
                    Level 1, Press Hall
                    <br />
                    80 Willis Street
                    <br />
                    Wellington 6011
                    <br />
                    New Zealand
                </p>
                <ul class="list-unstyled">
                    <li class="mb-2">+64 (0)21 377 287</li>
                    <li class="mb-2">hello@dotlovesdata.com</li>
                    <li class="mb-2">dotlovesdata.com</li>
                </ul>
            </div>
            <div class="col-6 col-lg mb-8 mb-lg-0">
                <h5 class="footer-heading">DOT Security</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="#">Privacy policy</a>
                    </li>
                    <li class="mb-2">
                        <a href="#">Terms & conditions</a>
                    </li>
                    <li class="mb-2">
                        <a href="#">Support</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg mb-8 mb-lg-0">
                <h5 class="footer-heading">DOT Portal</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#">Bizmomento</a></li>
                    <li class="mb-2">
                        <a href="#">
                            <svg class="icon footer-link-icon">
                                <use xlink:href="#icon-chevron-right"></use>
                            </svg>
                            Profile
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="#">
                            <svg class="icon footer-link-icon">
                                <use xlink:href="#icon-chevron-right"></use>
                            </svg>
                            Monitor
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="#">
                            <svg class="icon footer-link-icon">
                                <use xlink:href="#icon-chevron-right"></use>
                            </svg>
                            Predict
                        </a>
                    </li>
                </ul>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#">DotDotDash</a></li>
                    <li class="mb-2">
                        <a href="#">
                            <svg class="icon footer-link-icon">
                                <use xlink:href="#icon-chevron-right"></use>
                            </svg>
                            <span>Benefits</span>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="#">
                            <svg class="icon footer-link-icon">
                                <use xlink:href="#icon-chevron-right"></use>
                            </svg>
                            Crime
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="#">
                            <svg class="icon footer-link-icon">
                                <use xlink:href="#icon-chevron-right"></use>
                            </svg>
                            Deprivation
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="#">
                            <svg class="icon footer-link-icon">
                                <use xlink:href="#icon-chevron-right"></use>
                            </svg>
                            Gambling
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="#">
                            <svg class="icon footer-link-icon">
                                <use xlink:href="#icon-chevron-right"></use>
                            </svg>
                            Transport
                        </a>
                    </li>
                </ul>
                <div class="mb-2">
                    <a href="#">Turnup</a>
                </div>
                <div>
                    <a href="#">Us</a>
                </div>
            </div>
            <div class="col-6 col-lg mb-8 mb-lg-0">
                <h5 class="footer-heading">Follow Dot</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#">Dot Shop</a></li>
                </ul>
                <ul class="list-unstyled d-flex">
                    <li>
                        <a href="https://www.facebook.com/dotovesdata/" target="_blank" class="link-social">
                            <svg class="icon">
                                <use xlink:href="#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a href="https://nz.linkedin.com/company/dot-loves-data" target="_blank" class="link-social">
                            <svg class="icon">
                                <use xlink:href="#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright">Copyright © 2021 Dot Data Limited. All rights reserved.</div>
    </div>
</footer>
