.nav {
    overflow: auto;
}

.nav-header {
    align-items: center;
    padding: 5px;
    min-height: 48px;
}

.nav-link {
    position: relative;
    display: flex;
    padding: 0 $spacer * 1.25;
    text-decoration: none;

    span {
        position: relative;
        display: flex;
        align-items: center;
    }

    &:focus,
    &:hover {
        &:not(.active) {
            span {
                text-decoration: underline;
            }
        }
    }

    &.active {
        span:after {
            content: "";
            position: absolute;
            display: block;
            border-bottom: 2px solid $blue;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}

.nav-link-secondary {
    position: relative;
    display: flex;
    padding: 0 $spacer * 1 $spacer * 0.75;
    text-decoration: none;
    white-space: nowrap;

    &:focus,
    &:hover {
        &:not(.active) {
            text-decoration: underline;
        }
    }

    &.active {
        font-weight: $font-weight-bold;

        &:after {
            content: "";
            position: absolute;
            display: block;
            border-bottom: 3px solid $blue;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    + .nav-link-secondary {
        margin-left: $spacer * 2;
    }
}
