---
---

@import "bootstrap/scss/functions";
@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

@import "utilities";

@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";
/* purgecss start ignore */
@import "bootstrap/scss/dropdown";
/* purgecss end ignore */
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";

@import "base";
@import "buttons";
@import "dashboard";
@import "footer";
@import "mobile-menu";
@import "dropdown";

.user {
    width: 36px;
    height: 36px;
    background-color: var(--bs-yellow);
}

.header-logo {
    max-width: 82px;

    @include media-breakpoint-up(md) {
        max-width: 100%;
    }
}

.header-container {
    @include media-breakpoint-down(md) {
        min-height: 32px;
    }
}
