---
---

@import "bootstrap/scss/functions";
@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

@import "utilities";

@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";
/* purgecss start ignore */
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/modal";
/* purgecss end ignore */
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";

@import "base";
@import "buttons";
@import "dashboard";
@import "footer";
@import "mobile-menu";
@import "dropdown";

.user {
    width: 36px;
    height: 36px;
    background-color: var(--bs-yellow);
}

.header-logo {
    max-width: 82px;

    @include media-breakpoint-up(md) {
        max-width: 100%;
    }
}

.header-container {
    @include media-breakpoint-down(md) {
        min-height: 32px;
    }
}

.breadcrumb {
    color: $gray-700;
}

.breadcrumb-item {
    display: flex;
    align-items: baseline;

    + .breadcrumb-item {
        &:before {
            content: "";
            display: block;
            background-image: url("data:image/svg+xml;utf8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%236b6b6b%22%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20d%3D%22M0%200h16v16H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20data-name%3D%22Path%201%22%20d%3D%22m4.625%2016-.624-.677L10.754%208%204%20.678%204.625%200l7.376%208Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
            background-repeat: no-repeat;
            background-size: contain;
            width: 0.5rem;
            height: 0.75rem;
            padding-right: 1.2rem;
        }
    }

    &.active {
        font-weight: $font-weight-bold;
    }
}

.modal-dialog-video {
    margin: 0 1rem;
    max-width: none;

    @include media-breakpoint-up(md) {
        max-width: 80%;
        margin: 0 auto;
    }
}
