<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ site.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="shortcut icon" href="{{ '/' | relative_url }}/assets/img/favicon.png" />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet" />
        <link rel="stylesheet" href="{{ '/' | relative_url }}/assets/css/styles.css" />
    </head>
    <body>
        {% if page.notification %}
        <div
            id="notification-bar"
            class="notification-bar notification-bar-hide"
            style="visibility: hidden; transform: translateY(-100%)">
            <div class="container">
                <div>
                    A new
                    <strong>announcement feature</strong>
                    has been added to your admin interface. Let us know what you think on our
                    <a href="">feedback form</a>
                </div>
                <button id="notification-close" class="btn-close"><span></span></button>
            </div>
        </div>
        {% endif %} {% include svg.html %} {% if page.type != "signup" and page.type != "login" %} {% if page.loggedin
        %} {% include header.html %}{% else %}{% include header-index.html %}{% endif %}{% else %}{% include
        header-login.html type=page.type %}{% endif %}
        <main>{{ content }}</main>
        {% if page.footer == nil or page.footer != false %} {% include footer.html %}{% endif %}
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"
            integrity="sha512-nnzkI2u2Dy6HMnzMIkh7CPd1KX445z38XIu4jG1jGw7x5tSL3VBjE44dY4ihMU1ijAQV930SPM12cCFrB18sVw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.1/js/bootstrap.min.js"
            integrity="sha512-ewfXo9Gq53e1q1+WDTjaHAGZ8UvCWq0eXONhwDuIoaH8xz2r96uoAYaQCm1oQhnBfRXrvJztNXFsTloJfgbL5Q=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
        <script src="https://player.vimeo.com/api/player.js"></script>
        <script src="{{ '/' | relative_url }}/assets/js/index.js"></script>
    </body>
</html>
