$utilities: map-merge(
    $utilities,
    (
        'background-color':
            map-merge(
                map-get($utilities, 'background-color'),
                (
                    values:
                        map-merge(
                            map-get(map-get($utilities, 'background-color'), 'values'),
                            (
                                'blue': $blue,
                                'gray-800': $gray-800,
                                'green': $green,
                                'teal': $teal,
                                'cyan': $cyan,
                                'yellow': $yellow,
                            )
                        ),
                )
            ),
    )
);

$utilities: map-merge(
    $utilities,
    (
        'color':
            map-merge(
                map-get($utilities, 'color'),
                (
                    values:
                        map-merge(
                            map-get(map-get($utilities, 'color'), 'values'),
                            (
                                'gray-700': $gray-700,
                                'gray-900': $gray-900,
                                'form-success': $form-feedback-icon-valid-color,
                                'red': $red,
                            )
                        ),
                )
            ),
    )
);

$utilities: map-merge(
    $utilities,
    (
        'font-weight':
            map-merge(
                map-get($utilities, 'font-weight'),
                (
                    values:
                        map-merge(
                            map-get(map-get($utilities, 'font-weight'), 'values'),
                            (
                                'semibold': 500,
                            )
                        ),
                )
            ),
    )
);
